<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/Custom.css" rel="stylesheet" />
    <link href="~/Content/CartCounter.css" rel="stylesheet" />
    <style>
        .navbar-inverse {
            background-color: #233a77;
            border-color: #233a77;
            padding-top: 1em;
            padding-bottom: 1em;
        }

        .btn-default {
            background-color: #233a77;
            border-color: #233a77;
            color: white;
        }
    </style>
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Aksons Wheels", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "color:white" })
            </div>
            <div class="navbar-collapse collapse">
                @if (!User.Identity.IsAuthenticated)
                {
                    <ul class="nav navbar-nav">
                        <li><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li><a href="#aboutModal" data-toggle="modal" data-target=".bd-example-modal-lg">About</a></li>
                        <li><a href="@Url.Action("Create","TestDrives")">Book a Test Drive</a></li>
                        <li><a href="@Url.Action("Create","Bookings")">Service Booking</a></li>
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav">
                        <li><a href="@Url.Action("ManageBlogs","Posts")">Blogs</a></li>
                        <li><a href="@Url.Action("Index","Products")">Products</a></li>
                        <li><a href="@Url.Action("Index","Cars")">Cars</a></li>
                        <li><a href="@Url.Action("Create","TestDrives")">Book a Test Drive</a></li>
                        <li><a href="@Url.Action("Create","Bookings")">Service Booking</a></li>
                    </ul>
                }

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <br /><br /><br /><br />
        @RenderBody()
        <br />
        <footer>
            <p>&copy; @DateTime.Now.Year - Akson App</p>
        </footer>

    </div>
    
   
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @RenderSection("scripts", required: false)
    <div class="modal fade bd-example-modal-lg" tabindex="1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body" style="background-image: url('../../Images/1.jpg');">
                    <div class="card card-container" style="max-width:100%;width:700px">
                        <button class="close" style="color:darkred" data-dismiss="modal">&times;</button>
                        <h3><b>Welcome to Aksons Wheels</b></h3>
                        <p>
                            Find great deals on new and used vehicles! At Aksons Wheels, we offer a professional experience and excellent after-sales service. With a national representation at over 50 dealerships, we will help you discover the perfect vehicle for you! Whether you know what you are looking for or not, explore our high quality vehicle types.
                        </p><br />
                        <p>
                            Insurance companies calculate your monthly car insurance premiums based on your specific risk profile. How the car insurance company rates your risk will determine what you pay. Our online application form above allows you to obtain insurance quotes from our list of recommended insurance providers.
                        </p><br />
                        <p>
                            You may know all about that set of wheels that’s stolen your heart, but if you’re not clued up about car financing, you could well be in for a bumpy ride.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/5b998d15c9abba5796777b47/default';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--End of Tawk.to Script-->