@using Microsoft.AspNet.Identity
@using AksonApp.Models
@{ 
    ApplicationDbContext context = new ApplicationDbContext();
    int countItems = 0;

    if(User.Identity.IsAuthenticated)
    {
        string id = User.Identity.GetUserId();
        bool checkIfExist = context.MyCart.Where(m => m.UserId == id && m.Status == "Pending" && !m.IsCancelled).Any();

        if (checkIfExist)
        {
            countItems = context.MyCart.Where(m => m.UserId == id && m.Status == "Pending" && !m.IsCancelled).Sum(m => m.Quantity);
        }

    }


}

@if (Request.IsAuthenticated)
{

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav pull-right">
            <li>
                <a href="#" style="color:white" a>Hello @User.Identity.GetUserName()</a>
            </li>
            <li><a style="color:white" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            <li class="dropdown">
                <a style="color:white;background-color:transparent" data-modal="" href="@Url.Action("ManageProducts","MyCart")"> <span class="fa fa-shopping-cart"></span></a>
                <span class="cart-items-count"><span class=" notification-counter">@countItems</span></span>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav pull-right">
        <li><a href="@Url.Action("Register","Account")"><span class="fa fa-user-plus"></span> Register</a></li>
        <li><a href="@Url.Action("Login","Account")"><span class="fa fa-user-circle"></span> Log In</a></li>
        <li class="dropdown">
            <a style="color:white;background-color:transparent" href="#" > <span class="fa fa-shopping-cart"></span></a>
            <span class="cart-items-count"><span class=" notification-counter">@countItems</span></span>
        </li>
    </ul>
}
