@using PagedList
@using PagedList.Mvc
@model IPagedList<AksonApp.Models.Cars>

@{
    ViewBag.Title = "CarResults";
}

<div class="jumbotron" style="padding-top:1em">
    <h2 style="text-align:center;">Car's for Hire</h2>
    <br />
    @using (Html.BeginForm("CarResults", "Cars", FormMethod.Get))
    {
        <div class="col-sm-3">
            @Html.DropDownList("Sort", (SelectList)ViewBag.List, "Filter", new { @class = "form-control" })
        </div>
        <div class="col-sm-3">
            @Html.DropDownList("Order", (SelectList)ViewBag.ListTwo, "Filter", new { @class = "form-control" })
        </div>
        <div class="col-sm-2">
            <button class="btn btn-info" type="submit">Filter <span class="fa fa-filter"></span></button>
        </div>
    }
    @using (Html.BeginForm("CarResults", "Cars", FormMethod.Get))
    {
        <div class="col-sm-2">
            <input type="text" placeholder="search e.g BMW" name="search" class="form-control" />
        </div>
        <div class="col-sm-2">
            <button class="btn btn-info" onclick="this.form.submit(); this.disable = 'true'; this.value = 'Searching..'" type="submit">Search <span class="fa fa-search"></span></button>
        </div>
    }
</div>
<table class="table">
    @foreach (var item in Model)
    {
        using (Html.BeginForm("Details", "Cars", FormMethod.Get))
        {
            <input type="hidden" name="id" value="@item.Id" />

            <tr class="col-sm-3">
                <td>
                    <button type="submit" style="background-color:transparent;border-color:transparent">
                        <img src="~/Cars/@item.OutsideImage" style="max-width:100%;width:200px;height:200px" /><br />
                        <b style="color:#233a77">@item.Model:  @item.Make</b><br />
                        <b style="font-size:14px;color:darkslategrey">Price Per/Day: @item.CarPrice.ToString("c")</b><br />
                        <b style="font-size:14px">Model Year: @item.Year</b><br />
                        <b style="color:forestgreen"> Transmission : @item.TransmissionType</b>
                    </button><br />
                    <input type="submit" class="btn btn-info btn-block" value="Hire Car" height="10" />
                </td>
            </tr>
        }


    }

</table>
<ul class="pagination">
    @Html.PagedListPager(Model, page => Url.Action("IndexCars", new { page }),
        new PagedListRenderOptions() { Display = PagedListDisplayMode.Always, DisplayPageCountAndCurrentLocation = true })
</ul>

