@model AksonApp.Models.Cars

@{
    ViewBag.Title = "Create";
}



@using (Html.BeginForm("Create", "Cars", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="card card-container" style="max-width:100%!important;width:1600px">
            <h2>Add Car</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Model, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Model, new { htmlAttributes = new { @class = "form-control", @style = "width:500px" } })
                @Html.ValidationMessageFor(model => model.Model, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Make, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Make, new { htmlAttributes = new { @class = "form-control", @style = "width:500px" } })
                @Html.ValidationMessageFor(model => model.Make, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CarPrice, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.CarPrice, new { htmlAttributes = new { @class = "form-control", @style = "width:500px" } })
                @Html.ValidationMessageFor(model => model.CarPrice, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.TransmissionType, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(model => model.TransmissionType, (SelectList)ViewBag.List, new { @class = "form-control", @style = "width:500px" })
                @Html.ValidationMessageFor(model => model.TransmissionType, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control", @style = "width:500px" } })
                @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <div class="checkbox" style="padding-left:1.5em">
                    @Html.EditorFor(model => model.IsNew)
                    @Html.LabelFor(model => model.IsNew, htmlAttributes: new { @class = "control-label" })
                    @Html.ValidationMessageFor(model => model.IsNew, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox" style="padding-left:1.5em">
                    @Html.EditorFor(model => model.IsForHire)
                    @Html.LabelFor(model => model.IsForHire, htmlAttributes: new { @class = "control-label" })
                    @Html.ValidationMessageFor(model => model.IsForHire, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.OutsideImage, htmlAttributes: new { @class = "control-label" })
                <input type="file" name="fileOutside" required />
                @Html.ValidationMessageFor(model => model.OutsideImage, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.InteriorImage, htmlAttributes: new { @class = "control-label" })
                <input type="file" name="fileInside" required />
                @Html.ValidationMessageFor(model => model.InteriorImage, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-success" onclick="this.form.submit(); this.disabled=true; this.value='Submitting...';"> | <a href="@Url.Action("IndexCars")" class="btn btn-warning">Back</a>
            </div>
        </div>
    </div>
}