@model AksonApp.Models.Cars

@{
    ViewBag.Title = "Edit";
    Layout = null;
}
<div class="modal-body">
   

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-sm-12">
            <h2>Contact Dealer</h2>
        </div>
      
        <br />

        @Html.HiddenFor(model => model.Id)

        <div class="col-sm-6">
            @Html.LabelFor(model => model.Model, htmlAttributes: new { @class = "control-label" })

            @Html.EditorFor(model => model.Model, new { htmlAttributes = new { @class = "form-control" ,@readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Model, "", new { @class = "text-danger" })

        </div>

        <div class="col-sm-6">
            @Html.LabelFor(model => model.Make, htmlAttributes: new { @class = "control-label" })

            @Html.EditorFor(model => model.Make, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Make, "", new { @class = "text-danger" })

        </div>


        <div class="col-sm-6">
            @Html.LabelFor(model => model.CarPrice, htmlAttributes: new { @class = "control-label" })

            @Html.EditorFor(model => model.CarPrice, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.CarPrice, "", new { @class = "text-danger" })

        </div>

        <div class="col-sm-6">
            @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label" })

            @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })

        </div>
        <div class="col-sm-12">
            <h3>Fill in your details</h3>
        </div>
       
        <div class="col-sm-6">
            <label>Name*</label>
            <input class="form-control" type="text" />
        </div>
        <div class="col-sm-6">
            <label>Surname*</label>
            <input class="form-control" type="text" />
        </div>
        <div class="col-sm-6">
            <label>Email*</label>
            <input class="form-control" type="email" />
        </div>
        <div class="col-sm-6">
            <label>Contact*</label>
            <input class="form-control" type="text" />
        </div>
        <div class="col-sm-12">
            <label>Subject</label>
            <select class="form-control">
                <option></option>
                <option></option>
                <option></option>
            </select>
        </div>
        <div class="col-sm-12">
            <label>Message</label>
            <textarea class="form-control">

            </textarea>
        </div>
  
        <div class="col-sm-6">
            <br />
            <input type="submit" value="Submit" class="btn btn-default" /> | 
            <button class="btn btn-warning" data-dismiss="modal">Cancel</button>

        </div>
    </div>
    }

</div>