@model AksonApp.Models.Bookings

@{
    ViewBag.Title = "Create";
}

<link href="~/Content/Custom.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="card card-container" style="max-width:100%!important;width:1600px">
            <h3><b><span class="fa fa-cogs fa-2x"></span> Book a Service</b></h3><br />
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ContactNumber, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.ContactNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ContactNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.CarRegistration, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.CarRegistration, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CarRegistration, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.FirstDateOption, htmlAttributes: new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.FirstDateOption, null, new { @class = "form-control datepicker", @type = "date" })
                        @Html.ValidationMessageFor(model => model.FirstDateOption, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.SecondDateOption, htmlAttributes: new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.SecondDateOption, null, new { @class = "form-control datepicker", @type = "date" })
                        @Html.ValidationMessageFor(model => model.SecondDateOption, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.DropOffTime, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.DropOffTime, new { htmlAttributes = new { @class = "form-control timepicker", @type = "time" } })
                        @Html.ValidationMessageFor(model => model.DropOffTime, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="checkbox" style="padding-left:1.5em">
                            @Html.CheckBoxFor(model => model.DropOff)
                            @Html.LabelFor(model => model.DropOff)
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="checkbox" style="padding-left:1.5em">
                            @Html.CheckBoxFor(m => m.DropOff)
                            @Html.LabelFor(m => m.DropOff)
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ServiceType, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.ServiceType, (SelectList)ViewBag.ServiceType, "Select", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ServiceType, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Other, htmlAttributes: new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.Other, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Other, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-success" onclick="this.form.submit(); this.disabled=true; this.value='Submitting...';"> | <a href="@Url.Action("Index","Home")" class="btn btn-warning">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.3.1.js"></script>

    <script>
        $(".datepicker").datepicker();
    </script>
}
